# yazi configuration
# https://yazi-rs.github.io/docs/configuration/yazi

[manager]
ratio = [1, 4, 3]
sort_by = "natural"
sort_sensitive = false
sort_reverse = false
sort_dir_first = true
linemode = "size"
show_hidden = false
show_symlink = true

[preview]
tab_size = 4
max_width = 600
max_height = 900

[opener]
edit = [
  { run = '${EDITOR:-nvim} "$@"', block = true, for = "unix" },
]
open = [
  { run = 'open "$@"', for = "macos" },
  { run = 'xdg-open "$@"', for = "linux" },
]
